/*MEDIA QUERY*/

@media screen and (max-width:1335px){
  .header{
    width:100%;
  }
  .konten{
    width:100%;
  }


/*Jika berukuran 980px atau dibawahnya*/
@media screen and (max-width:980px){
  .header{
    width:95%;
  }
  .konten{
    width:95%;
  }
  .menu1{
    margin-left: 55px;
  }
  .menu3{
    margin-left: 55px;
  }
  .menu5{
    margin-left: 55px;
  }
  #mc{
    display: none;
}
 

/*Jika berukuran 700px atau dibawahnya*/
@media screen and (max-width:700px){
 .header{
    width:80%;
  }
  .konten{
    width:80%;
  }
  .menu1{
    margin: 25%;
    float: none;
  }
  .menu2{
    margin: 25%;
    float: none;
  }
  .menu3{
    margin: 25%;
    float: none;
  }
  .menu4{
    margin: 25%;
    float: none;
  }
  .menu5{
   margin: 25%;
    float: none;
  }
  .menu6{
    margin: 25%;
    float: none;
  }
  .edu{
    width: 70%;
  margin-left: 150px;
  }
  .judul{
    width: 200px;
    margin-left: 160px;
  }
  .petunjuk{
    margin-left: 100px;
  }
  #pilih{
    width: 550px;
  }
  .icon-icon{
    width: 80px;
    height: 60px;
  }
  #mc{
display: none;
  }
 